@font-face {
    font-family: 'Lato';
    font-weight: 400;
    src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: 'OpenSans';
    font-weight: 400;
    src: url(../fonts/Lato-Regular.ttf);
}