@use 'fonts';
@use 'responsive';

$background-color: #222222;
$emerald: #00D6B4;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: $background-color;
    font-family: 'Lato';
    font-weight: 400;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}



.header {
    width: 100%;

    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2% 18.7% 0 18.7%;

    @include responsive.mobile {
        display: flex;
        justify-content: center;
        padding: 2% 2% 0 2%;
    }

    &__logo {
        font-size: 24px;
        line-height: 30px;

        @include responsive.mobile {
            display: none;
        }
    }

    &__nav {
        display: flex;
        gap: 40px;
    }

    &__link {
        font-size: 11px;
        line-height: 17px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #999999;

        padding-bottom: 3px;

        transition: .3s ease-in-out;

        &:hover {
            border-bottom: 1px solid $emerald;
        }

        &_current {
            color: $emerald;
        }
    }
}



.get-a-quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    background: linear-gradient(360deg, #222222 0%, rgba(0, 0, 0, 0) 100%), url('../images/get-a-quote/background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    padding: 150px 0;

    &__logo {
        display: none;

        font-size: 24px;
        line-height: 30px;

        @include responsive.mobile {
            display: block;
        }
    }

    &__h1 {
        max-width: 485px;

        font-weight: 400;
        font-size: 48px;
        line-height: 53px;
        text-align: center;

        @include responsive.mobile {
            padding: 0 10px;
        }
    }

    &__btn {
        opacity: 0.6;

        font-size: 13px;
        line-height: 19px;
        color: $emerald;

        border: 1px solid $emerald;
        border-radius: 3px;

        padding: 10px 25px;

        transition: .3s ease-in-out;

        &:hover {
            opacity: 1;
        }
    }
}



.latest-work {
    padding: 50px 0 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;

    &__h2 {
        font-weight: 400;
        font-size: 25px;
        line-height: 30px;
    }

    &__works {
        max-width: 66.6%;

        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;

        @include responsive.tablet {
            max-width: 88.8%;
        }
    }

    &__work {
        transition: .3s ease-in-out;

        &:hover {
            box-shadow: rgb(0, 214, 180) 0px 20px 30px -10px;
        }
    }
}



.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    padding: 35px 0;

    &__logo {
        font-size: 18px;
        line-height: 22px;
        color: #C2C2C2;

    }

    &__p {
        font-family: 'OpenSans';
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: #999999;
    }
}



//LOGO TRANSITION
.header__home,
.get-a-quote__home,
.footer__logo {
    transition: .3s ease-in-out;

    &:hover {
        color: $emerald;
    }
}