@import url(./_fonts.css);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Graphik LCG';
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
}

a {
	text-decoration: none;
	color: black;
}

h2 {
	font-weight: 600;
	font-size: 50px;
	line-height: 60px;
}

.try-free h2,
.integrate h2 {
	font-size: 65px;
	line-height: 75px;
}

.buttons,
.btn {
	font-size: 16;
}



/* HEADER */
header {
	width: 100%;
	background-color: white;
	border-bottom: 1px solid #CCCCCC;
	padding: 31px 0 24px;
	display: flex;
}

header .logo-and-nav {
	width: 66%;
	display: flex;
	align-items: center;
}

header .logo-and-nav .logo,
.logo-and-nav nav li {
	padding-left: 51px;
}

.logo-and-nav nav li {
	display: inline;
	font-size: 15px;
	line-height: 20px;
}

header .buttons {
	width: 33%;
	display: flex;
	justify-content: end;
	gap: 10px;
	font-weight: 600;
	line-height: 45px;
}

header .buttons .btn1 {
	border: 1px solid rgba(0, 0, 0, 0.5);
	padding: 0 36px;
}

header .buttons .btn2 {
	color: #FFFFFF;
	background: #FF6336;
	padding: 0 22px;
}



/* FIRST BLOCK */
.first-block {
	display: flex;
	justify-content: center;
	padding: 129px 0 172px;
}

.first-block .text h1 {
	width: 552px;
	font-weight: 600;
	font-size: 65px;
	line-height: 70px;
	margin-bottom: 51px;
}

.first-block .text p {
	width: 471px;
	font-size: 25px;
	line-height: 35px;
	margin-bottom: 51px;
}

.first-block .text .buttons {
	margin-bottom: 24px;
}

.text .buttons .btn1 {
	font-weight: 600;
	line-height: 60px;
	text-align: center;
	color: #FFFFFF;
	background: #FF6336;
	padding: 20px 41px;
	margin-right: 10px;
}

.text .buttons .btn2 {
	font-weight: 600;
	line-height: 60px;
	text-align: center;
	padding: 20px 29px;
	border: 1px solid rgba(0, 0, 0, 0.5);
}

.first-block .text .bottom-paragraph {
	font-size: 15px;
	line-height: 25px;
}



/* COMPANIES */
.companies {
	display: flex;
	justify-content: center;
	flex-direction: column;
	background: #FF9C7D;
	padding: 108px 0 103px;
}

.companies h2 {
	align-self: center;
	text-align: center;
	width: 720px;
	margin-bottom: 70px;
}

.companies .companies-list {
	display: flex;
	justify-content: space-evenly;
}


/* FEATURES */
.features {
	padding: 90px 0 150px;
}

.features .right,
.features .left {
	display: flex;
	justify-content: center;
	gap: 165px;
	margin-top: 250px;
}

.features .right:first-child {
	margin-top: 0;
}

.features .feature h2 {
	margin-top: 151px;
	width: 493px;
}

.features .feature p {
	margin: 30px 0;
}

.feature-description1 {
	width: 491px;
}

.feature-description2 {
	width: 450px;
}

.feature-description3,
.feature-description4 {
	width: 520px;
}

.features .feature a {
	font-weight: 600;
}

.features .feature a.underline {
	text-decoration: underline;
	font-weight: 400;
}



/* LOCALIZATIONS */
.localizations {
	background-color: #FFF8E4;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 120px 0 147px;
}

.localizations h2 {
	margin-bottom: 79px;
}

.localizations .localizations-list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 75px 120px;
	text-align: center;
}

.localizations .localizations-list .localizations-list_item {
	width: 330px;
}

.localizations-list .localizations-list_item h4 {
	margin: 26px 0 20px;
	font-size: 25px;
	line-height: 35px;
}

.localizations-list .localizations-list_item p {
	font-size: 18px;
	line-height: 25px;
}



/* PRODUCTIVITY */
.productivity {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 75px;
	padding: 154px 0 187px;
}

.productivity .productivity-list {
	display: flex;
	align-items: baseline;
	gap: 31px;
}

.productivity .productivity-list .productivity-list_item {
	width: 440px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	gap: 58px;
}

.productivity-list .productivity-list_item .text {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.productivity-list .productivity-list_item h4 {
	font-weight: 600;
	font-size: 30px;
	line-height: 40px;
}

.productivity-list .productivity-list_item p {
	width: 409px;
}

.productivity-list .productivity-list_item a {
	text-decoration: underline;
}



/* REVIEW */
.review {
	background-color: #C9E8F2;
	display: flex;
	justify-content: center;
	gap: 59px;
	padding: 63px 0 105px;
}

.review .review-text p:first-child {
	width: 920px;
	font-size: 30px;
	line-height: 40px;
	margin-bottom: 23px;
}

.review .review-text .review-text_reviewer {
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 15px;
	line-height: 25px;
	margin-bottom: 7px;
}


/* AWARDS */
.awards {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: #DABC98;
	padding: 90px 0;
}

.awards .big-award {
	display: flex;
	align-items: center;
}

.awards .big-award h2 {
	width: 461px;
	margin: 0 67px 0 124px;
	font-size: 35px;
	line-height: 50px;
}

.awards .small-awards {
	display: flex;
	gap: 70px;
	border-left: 1px solid black;
	padding-left: 71px;
}



/* INTEGRATE */
.integrate {
	padding: 165px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.integrate h2 {
	width: 791px;
	text-align: center;
}

.integrate p {
	width: 539px;
	font-size: 25px;
	text-align: center;
}

.integrate img {
	margin: 25px 0 32px;
}

.integrate .btn {
	font-weight: 600;
	line-height: 60px;
	color: #FFFFFF;
	background-color: #FF6336;
	padding: 0 20px;
}



/* TRY FREE */
.try-free {
	padding: 119px 0 161px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #FF9C7D;
}

.try-free h2 {
	width: 784px;
	text-align: center;
}

.try-free p {
	margin: 29px 0 54px;
}

.try-free .btn {
	font-weight: 600;
	font-size: 17px;
	line-height: 60px;
	color: #FFFFFF;
	background-color: #000000;
	padding: 0 40px;
}



/* LINKS */
.links {
	display: flex;
	justify-content: space-evenly;
	padding: 92px 0 95px;
}

.links .column {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.links .column h2 {
	font-size: 40px;
	line-height: 50px;
	margin-bottom: 28px;
}

.links .column h3 {
	padding-bottom: 21px;
	font-weight: 600;
	line-height: 25px;
}

.links .column .article-photo {
	margin-bottom: 31px;
}

.links .column .logo {
	margin-bottom: 11px;
}

.links .column p {
	width: 290px;
	margin-bottom: 15px;
}

.links .column:first-child a {
	font-weight: 600;
}

.links .column a {
	padding-bottom: 15px;
	font-size: 15px;
	line-height: 15px;
}

.links .column:last-child a:last-child {
	width: 138px;
}



/* FOOTER */
footer {
	padding: 27px 20px 43px;
	display: flex;
	justify-content: space-between;
	border-top: 1px solid black;
}

footer p {
	font-size: 12px;
	line-height: 15px;
}

footer .left-part {
	display: flex;
	gap: 14px;
}

footer .left-part img {
	align-self: flex-start;
}

footer .left-part p {
	width: 301px;
}