a {
	text-decoration: none;

	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.1em;

	color: #000000;
}

h1 {
	position: absolute;
	width: 541px;
	height: 45px;
	left: 399px;
	top: 257px;

	font-weight: 500;
	font-size: 48px;
	line-height: 79px;

	color: #000000;
}

h2 {
	font-weight: 500;
	font-size: 32px;
	line-height: 38px;
	text-align: center;

	color: #000000;
}

h3 {
	font-weight: 500;
	font-size: 21px;
	line-height: 25px;

	color: #FFFFFF;
}

p {
	font-size: 16px;
	line-height: 26px;
	text-align: center;

	color: #727272;
}

button {
	position: absolute;
	width: 225px;
	height: 65px;
	left: 399px;
	top: 494px;

	background: #34547A;
}

iframe {
	position: absolute;
	width: 1110px;
	height: 600px;
	left: 405px;
	top: 304px;
}

footer {
	position: absolute;
	width: 1920px;
	height: 151px;
	left: 0px;
	top: 2313px;

	background: #34547A;
}