.space {
  height: 800px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../images/space-bg.jpg);
  background-size: cover;
  background-position: center center;
  padding-top: 75px;
}

.earth {
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;

  img {
    width: 50%;
  }
}

.moon {
  width: 125px;
  position: absolute;
  z-index: 2;
  left: 25%;
  top: 50%;
  animation: moon-spinning 8s ease-in-out infinite;

  img {
    width: 100%;
  }
}

@keyframes moon-spinning {

  0% {
    top: 50%;
    left: 25%;
    z-index: 2;
  }

  25% {
    top: 55%;
  }

  50% {
    left: 65%;
    top: 50%;
    z-index: 2;
  }

  51% {
    z-index: 1;
  }

  75% {
    top: 40%
  }

  100% {
    top: 50%;
    left: 25%;
    z-index: 1;
  }
}